.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: rgba
  
  
  (0, 188, 212, 0.8);
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 5px;
}

.list {
  gap:20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  list-style: none;

  li {
    a {
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-size: 17px;
      color: black;
      background: white;
      padding: 10px 15px;
      margin: 0;
      border-radius: 30px;
    }
    a:hover{
      color: cadetblue;
    }
  }
}

.hero{
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  img{
    max-width: 500px;
    min-width: 280px;
  }
}