header {
  padding-inline: 40px;
  background-color: #28156e;
}
main {
  padding: 20px;
}
footer {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #28156e;
}
.site-layout-content {
  height: 100%;
  min-height: 280px;
  padding: 24px;
}
#components-layout-demo-top {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top {
  float: right;
  margin: 16px 0 16px 24px;
}
.testButton {
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding: 2px 20px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 100px;
  text-align: center;
  display: block;
  &:hover {
    color: #78909c;
  }
  &:active {
    opacity: 0.7;
  }
}

.logo {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: white;
  &:hover {
    color: #78909c;
  }
  &:active {
    opacity: 0.7;
  }
}

@media only screen and (max-width: 600px) {
  header,
  main {
    padding-inline: 20px;
  }
  .testButton {
    font-size: 16px;
    line-height: 40px;
    padding: 2px 20px;
  }
}

.ham {
  display: none;
}
.box123 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ham {
  position: absolute;
  right: 0;
  top: -100%;
  border-bottom-left-radius: 20px;
  transition:0.3s;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  z-index: 100;
  span {
    display: block;
    height: 5px;
    background: white;
    width: 40px;
    border-radius: 50px;
    
  }
  margin-right: -10px;
}

@media screen and (max-width: 520px) {
  .box123 {
    display: none;
  }

  
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  z-index: 100;
  span {
    display: block;
    height: 5px;
    background: white;
    width: 40px;
    border-radius: 50px;
    
  }
  margin-right: -10px;
}

  .ham {
    background: rgba(39, 39, 39, 0.4);
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    padding: 10px;
    top: -100%;
    padding: 70px 10px ;
    div {
      display: block;
    }
    display: block;
  }

  .testButton {
    width: 140px;
    text-align: center;
    font-size: 15px;
    padding: 0;
  }
}
