.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background: #BBDEFB;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    li{
        display: flex;
    }
}